.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    background-color: white;   
    justify-self: center;
    position: relative;
    min-height: 100vh;
}