
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Barlow';
  margin: 0px;
  background-color:WHITE;
}

a{
  text-decoration: none;
  outline: none;
}
.wrapper-container{
  margin: auto;
  max-width: 1200px;
  
}
.loading-spinner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



